.aboutDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'fredoka', sans-serif;
}

.aboutContainer {
    background-image: url('https://image.shutterstock.com/image-illustration/old-antique-vintage-paper-background-600w-250538542.jpg');
    padding: 1em;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'fredoka', sans-serif;
    font-weight: 500;
    color:rgb(0, 0, 0);
}

.aboutContainer > h1 {
    margin: 0;
}