.formHandle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2em;
    align-content: center;
    align-items: center;
}

.formHandle > input,textarea {
    border: 1px solid black;
    max-width: 20em;
    border-radius: 3px;
    font-size: large;
    font-family: 'fredoka', sans-serif;
    padding: 0.2em;
}

.formHandle > button {
    max-width: fit-content;
    padding: 0.4em;
    margin: 0.25em;
    font-size: large;
    font-weight: bold;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 9px;
}
#name {
    height: 3em;
    width: 20em;
}
#details {
    height: 20em;
    width: 20em;
}